//
//  Flutter.xcconfig
//  LYMoodDiaryMaker
//
//  Created by liyong yuan on 2019/7/24.
//  Copyright © 2019 LYoung_iOS. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../../flutter_module/.ios/Flutter/Generated.xcconfig"
ENABLE_BITCODE=NO
